In [ ]:
import akshare as ak

In [ ]:
fund_message= ak.fund_em_fund_name()

In [ ]:
type(fund_message)

In [ ]:
fund_message.info()

In [ ]:
ak.fund_em_etf_fund_daily() #获取所有开放式基金的实时数据。

In [22]:
fund_em_info_df = ak.fund_em_open_fund_info(fund="001595", indicator="单位净值走势")
# print(fund_em_info_df)
type(fund_em_info_df)
fund_em_info_df.head(20)

          净值日期    单位净值    日增长率
0   2015-07-08  1.0000  0.0000
1   2015-07-10  1.0815  0.0000
2   2015-07-13  1.0514 -2.7832
3   2015-07-14  1.0323 -1.8166
4   2015-07-15  1.0498  1.6952
5   2015-07-16  1.0347 -1.4384
6   2015-07-17  1.0395  0.4639
7   2015-07-20  1.0307 -0.8466
8   2015-07-21  1.0184 -1.1934
9   2015-07-22  1.0095 -0.8739
10  2015-07-23  1.0195  0.9906
11  2015-07-24  1.0064 -1.2849
12  2015-07-27  0.9354 -7.0548
13  2015-07-28  0.9502  1.5822
14  2015-07-29  0.9519  0.1789
15  2015-07-30  0.9370 -1.5653
16  2015-07-31  0.9423  0.5656
17  2015-08-03  0.9645  2.3559
18  2015-08-04  0.9692  0.4873
19  2015-08-05  0.9538 -1.5889

In [ ]:
fund_em_money_fund_info_df = ak.fund_em_money_fund_info(fund="001595")
print(fund_em_money_fund_info_df)
fund_em_money_fund_info_df.tail()